<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GoldPlusSigma.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>44A6D53D1C5C556500BF9BFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44A6D5561C5C556500BF9BFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44A6D5611C5C556500BF9BFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
